{% extends "base_page.html" %}

{% block content %}
<div class="body1">
  <div class="container-fluid bg-3 text-center">
    <h3>Land Management Home</h3><br>
    <div class="row">
      <div class="col-md-6 box" style="background-color: #778899; color: #ffffff;">
        <h3>Total cards</h3>
        <h3>{{ num_cards }}</h3>
      </div>
      <div class="col-md-6 box" style="background-color: #778899; color: #ffffff;">
        <h3>Total Customers</h3>
        <h3>{{ num_members }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 box" style="background-color: #f0e68c">
        <h3>Yellow Cards</h3>
        <h3>{{ num_cards_yellow }}</h3>
      </div>
      <div class="col-md-3 box" style="background-color: pink">
        <h3>Pink Cards</h3>
        <h3>{{ num_cards_pink }}</h3>
      </div>
      <div class="col-md-3 box" style="background-color: #89CFF0">
        <h3>Blue Cards</h3>
        <h3>{{ num_cards_blue }}</h3>
      </div>
      <div class="col-md-3 box" style="background-color: white">
        <h3>White Cards</h3>
        <h3>{{ num_cards_white }}</h3>
      </div>
    </div>

  </div><br>

</div><br>

<footer class="container-fluid text-center">
  <!-- <p>Footer Text</p> -->
</footer>
</div>
{% endblock %}